/*Search button*/
button.btn-search {
    background-color: lightgrey;
    border-color: lightgrey;
    color: black;
}

button.btn-search:hover {
    background-color: grey;
    border-color: grey;
    color: white;
}

/*Style a Operator*/
.btn a {
    color: rgb(1, 0, 0);
    text-decoration: none;
}

.btn a:hover {
    color: #fff;
}

/*Social Media Icons*/
.social-icons a {
    font-size: 40px;
    color: black;
    margin: 10px;
}

.social-icons a:hover {
    color: grey;
}


h3 {
    line-height: 1.5;
}

h3 p {
    font-size: calc(0.65vw + 0.65vh + 0.1vmin);
}

/*Arrow Up Move*/

#UpMove {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: lightgray;
    border: none;
    font-size: 2rem;
    /* Größerer Button */
    padding: 10px;
    /* Größerer Button */
}

#UpMove:hover {
    background-color: gray;
    /* Farbe beim Hover */
}

.bxs-up-arrow-circle {
    font-size: 2rem;
    /* Größeres Icon */
}