.productArea{
    min-height: 100%;
}

.product1{
    width: 25%;
}

.imgContainer1 img{
    position: relative;
    width:100%;
}

.imgContainer1{
    height: fit-content;
    position: relative;
}

.buyBar1{
    position: absolute;
    width: 100%;
    bottom: 0;
}


.buyBar1 button{
    width: 100%;
}

.productRow2{
    margin-top: 5%;
}




